In [ ]:
# A basic walkthrough of Beautiful Soup HTML parsing and Pandas dataframe

from bs4 import BeautifulSoup
import requests
import pandas as pd

# fetch webpage which we want to scrape and store the response as a variable ('page')
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_Kingdom"
page = requests.get(url)

# parse the HTML content of the webpage using BeautifulSoup and store as a variable
soup = BeautifulSoup(page.text, 'html')

In [ ]:
print(soup)

In [ ]:
# find all table elements in the first table 
table = soup.find_all('table')[0]
print(table)

In [ ]:
world_titles = table.find_all('th')

In [ ]:
# pull out column headers from table
world_tables_titles = [title.text.strip() for title in world_titles]
print(world_tables_titles)

In [ ]:
# set up empty dataframe with column headers
df = pd.DataFrame(columns = world_tables_titles)
print(df)

In [ ]:
column_row = table.find_all('tr')

In [ ]:
# enter records into dataframe, skipping the first header row
for row in column_row[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]

    length = len(df)
    df.loc[length] = individual_row_data

In [ ]:
df

In [ ]:
# store to a CSV file & remove ID column
df.to_csv(r'/absolutepath', Index=False)